<nav id="profile-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">BuyNow</a>
      <a href="/products"><img class="navbar-brand" id="logo" src="<%= asset_path( 'buynow.png' ) %>" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/products/new">Add Inventory</a></li>
        <% if false %>
        <% if current_user.admin == true %>
            <li><a href="/products/new">Add Inventory</a></li>
        <% end %>
        <% end %>
        <a href="/users/<%= current_user.id %>"><img class="navbar-brand" id="profile-pic" src="<%= asset_path( 'face.png' ) %>" /></a>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.first_name %></a></li>
        <li><a href="/carts/<%= current_user.id %>">My Cart</a></li>
        <li>
            <a id="logout-button" href="#">Logout</a>
                <form id="logout" action="/sessions" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                    <input type="hidden" name="_method" value="delete">
            </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="container">
    <div class="row row3">
      <div class="col-md-6" id="orders">
        <h2>Order History</h2>
        <table class="table table-striped">
          <tr>
            <th>Order No.</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <% @orders.each do |item| %>
          <tr>
              <td>1</td>
              <td><%= item.product.name %></td>
              <td><%= item.product.price %></td>
              <td><%= item.quantity %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>