<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">BuyNow</a>
      <a href="/products"><img class="navbar-brand" id="logo" src="<%= asset_path( 'buynow.png' ) %>" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if false %>
        <% if current_user.admin == true %>
            <li><a href="/products/new">Add Inventory</a></li>
        <% end %>
        <% end %>
        <% if current_user.avatar_file_name == nil %>
        <a href="/users/<%= current_user.id %>"><img class="navbar-brand" id="profile-pic" src="<%= asset_path( 'face.png' ) %>" /></a>
        <% else %>
        <a href="/users/<%= current_user.id %>"><%= image_tag current_user.avatar.url, :class => 'navbar-brand profile-pic', :id => 'profile-pic' %></a>
        <% end %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.first_name %></a></li>
        <li><a href="/carts/<%= current_user.id %>">My Cart</a></li>
        <li>
            <a id="logout-button" href="#">Logout</a>
                <form id="logout" action="/sessions" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                    <input type="hidden" name="_method" value="delete">
            </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row product-page">

            <div class="col-md-3 index-col1">
                <p class="lead">Search By...</p>
                <form class="search-form">
                	<label for="category">Category</label>
                    <br>
                    <%= select_tag :'product[category]', options_for_select((categories), disabled: :"please select", selected: :"please select") %>
					<br>
                	<label for="category">OR</label>
                	<br>
			        <div class="form-group">
                	<label for="category">Product / Description</label>
			          <input type="text" name="product[name]" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-warning">Search</button>
		      </form>
            </div>
            <div class="col-md-9 index-col2">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="product-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product-carousel" data-slide-to="1"></li>
                                <li data-target="#product-carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a class="product-img" href="products/<%= @top_product.id %>"><%= image_tag @top_product.avatar.url, :class => 'top-product' %></a>
                                </div>
                                <% @hot_products.each do |product| %>
                                <div class="item">
                                   <a class="product-img" href="products/<%= product.id %>"><%= image_tag product.avatar.url, :class => 'slide-image hot-products' %></a>
                                </div>
                                <% end %>
                            </div>
                            <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#product-carousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                <% @products.each do |product| %>
	                    <div class="col-sm-4 col-lg-4 col-md-4">
	                        <div class="thumbnail">
	                            <a href="products/<%= product.id %>"><%= image_tag product.avatar.url, :class => 'product-all' %></a>
	                            <div class="caption">
	                                <h4 class="pull-right">$<%= '%.2f' %  product.price %></h4>
	                                <h4><a href="/products/<%= product.id %>"><%= product.name %></a>
	                                </h4>
	                                <p class="description"><%= product.description %></p>
	                            </div>
	                            <div class="ratings">
	                                <p class="pull-right"> <%= rand(1..20) %> reviews</p>
                                    <% num = rand(1..5); (1..num).each do %>
                                    <p class="star">
                                        <span class="glyphicon glyphicon-star"></span>
	                                </p>
                                    <% end %>
                                    <% (1..(5 - num)).each do %>
                                    <p class="star">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                    <% end %>
	                            </div>
	                        </div>
	                    </div>
                    <% end %>
                </div>

            </div>

        </div>
        
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
