<!DOCTYPE html>
<html>
<head>
  <title>Ecom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<%= yield %>
	<script>
        $(document).ready(function(){
        	$("#logout-button").click(function(){
        		$("#logout").submit();
        	})
        $("#update-cart").click(function(){
          $("#update-cart-form").submit();
        })
      })
    </script>
</body>
</html>
